$primary__color: #3E615D;
$secondary__color: #5a5a5a;
$accent__color: #976737;
$link__color: #225374;
$border__radius: 5px;

/* home 2 */
$primary__color_home_two: #3E615D;
$secondary__color_home_two: #828282;
$accent_color_home_two: #976737;

$font__family: 'Poppins', sans-serif;